a.item href=""
  .item-title Губернатор Василий Голубев открыл в Ростове «космическую» школу на 1650 учеников
  .item-text Всего в Ростовской области 1 сентября открылось четыре новых школы, принявших более трех тысяч учеников.