$tr: transparent;

$body: #FFFEF4;
$menu: #FBF8E1;
$footer: #E8E5D1;
$text: #333333;
$text-menu: #A19321;
$text-menu-hover: #707C51;
$city: #B3C28F;
$accent: #EAF5D0;
$border: #C2D0A1;

$blockquote: #eeeeee;

$white: #ffffff;
$gray: #888888;

$vk: #0077FF;
$ok: #EB7D01;
$tg: #29A8EA;

$primary: #325FEB;
$primary-hover: #6185F0;
$primary-pressed: #1544D6;
$secondary: #F9AA34;
$secondary-hover: #FABF66;
$secondary-pressed: #F29408;
$tertiary-hover: #4E555F;
$success: #52B530;
$success-hover: #8DDA72;
$success-pressed: #408D25;
$danger: #E85656;
$danger-hover: #EE8181;
$danger-pressed: #E12828;